@font-face {
   font-family: "workBold";
   src: url("../fonts/Work_Sans/WorkSans-Bold.ttf");
}

@font-face {
   font-family: "workMedium";
   src: url("../fonts/Work_Sans/WorkSans-Medium.ttf");
}

@font-face {
   font-family: "workRegular";
   src: url("../fonts/Work_Sans/WorkSans-Regular.ttf");
}

@font-face {
   font-family: "karlaBold";
   src: url("../fonts/Karlas/Karla-Bold.ttf");
}

@font-face {
   font-family: "karlaRegular";
   src: url("../fonts/Karla/Karla-Regular.ttf");
}

@font-face {
   font-family: "karlaItalic";
   src: url("../fonts/Karla/Karla-Italic.ttf");
}

.body {
   font-family: "karlaRegular";
   background-image: url('../image/bg.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.container {
   background: rgba(255, 255, 255, 0.7);
   width: 85%;
   margin: 0 auto;
   overflow: hidden;
}

.header {
   box-shadow: 0px 4px 10px grey;
}

.headerContainer {
   display: flex;
   justify-content: space-between;
   width: 95%;
   margin: 0 auto;
}

.logo {
   height: 150px;
}

.mainMenu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80%;
}

.sign {
   align-self: flex-end;
}

.mainNav {
   display: flex;
   justify-content: space-around;
}

.mainNav_link {
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 20px;
   font-size: 1.5em;

}

.carouselContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 100px auto;
}

.left_btn, .right_btn {
   font-size: 30px;
   background: none;
   border: none;
}

.mainCarousel {
   background-color: yellow;
   overflow: hidden;
   width: 70%;
   margin: 0 20px;
}

.mainCarousel_wrapper {
   display: flex;
   flex-direction: row;
   transition: transform 0.3s linear;
}

.imgCarousel {
   height: 100%;
   width: 100%;
}

.mainContent {
   display: flex;
   width: 80%;
   margin: auto;
   justify-content: space-between;
   /* background-color: red; */
}

.mainContent h2 {
   font-size: 3em;
   margin-bottom: 20px;
}

.mainContent h3 {
   font-size: 1.2em;
}

.leftContent {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 60%;
}

.latestAnimes, .upcomingAnimes {
   /* margin-top: 30px; */
}

.topAnimes {
   width: 30%;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.topAnimesContainer {
   width: 300px;
   flex-direction: column;
   padding:50px 20px;
   justify-content: space-around;
   box-shadow: 0px 4px 10px grey;
   -moz-box-shadow: -1px 1px 26px #3b3b3b;
   -webkit-box-shadow: -1px 1px 26px #3b3b3b;
   box-shadow: -1px 1px 26px #3b3b3b;
   border: solid 0px #000;
   border-radius: 30px;
   box-shadow: 0px 4px 10px grey;
}

.topAnimeContained {
   display: flex;
   justify-content: space-around;
}

.topAnimeContained:not(:last-child) {
   margin-bottom: 20px;
}

.backToTop {
   display: flex;
   width: 100%;
   justify-content: flex-end;
}

.latestAnimesPic, .upcomingAnimesPic {
   border: solid 0px #000;
   border-radius: 30px;
   box-shadow: 0px 4px 10px grey;
   -moz-box-shadow: -1px 1px 26px #3b3b3b;
   -webkit-box-shadow: -1px 1px 26px #3b3b3b;
   box-shadow: -1px 1px 26px #3b3b3b;
   display: flex;
   justify-content: space-around;
   /* margin-top: 30px; */
}

.animeImg {
   height: 200px;
}

.imgContainer {
   text-align: center;
   padding: 40px 0;
}

.backToTop {
   width: 80%;
   margin: 60px auto;
}

.logotop {
   height: 200px;
}

.footer {
   width: 100%;
   height: 150px;
   box-shadow: 0px -4px 10px grey;
   padding-top: 20px;
}

.footerContainer {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
}

.footer p {
   font-size: 1.5em;
}

/**/

.animeList_read {
   width: 70%;
   margin: 20px auto;
}

.animeList_read th {
   font-size: 1.5em;
}

.animeList_read table {
   width: 100%;
}

.animeList_tdPicture {
   width: 200px;
}

.animeList_read td {
vertical-align:middle;
text-align: center;
font-size: 2em;
text-transform: capitalize;
}

.animeList_imgContainer{
   height: 200px;
   width: 200px;
   overflow: hidden;
   display: flex;
   justify-content: center;
}

.animeList_imgContainer img {
   height: 200px;
}
