table {
    width: 100%;}

td {
    text-align: center;
}

.read, .create,.update {
    margin: 0 auto 20px;
    width: 80%;
    border: 1px solid black;
}

.create, .update {
    text-align: center;
}

.create form, .update form {
    margin: 10px;
}